/*** Inicio reseteo de los styles por defecto *****/
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

/*reseteo basico a los styles por defecto a la etqueta html*/
html {
  box-sizing: border-box; /*tamaño de la caja*/
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /*todo lo que se desborde en horizontal se oculte y no aparezca la barra horizontal*/
  overflow-x: hidden;
}

/*adaptamos las imagenes a la maxima anchura de su contenedor*/
img {
  max-width: 100%;
  height: auto;
}

/********* FIN DE RESETEO **************/

.header {
  /*cuando el header llegue a margin-top 0 se comportara como fijo*/
  position: sticky;
  z-index: 997;
  top: 0;
  /*padding a los 4 lados*/
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  margin: 0;
  text-align: center;
}

/********* Menu de Hamburguesa ********/
/* Cada una de las secciones, aunque no posean contenido van a ocupar el ancho de la pantalla*/
.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  /*aunque el contenido del section sea pequeño oupará el tamaño del view port*/
  min-height: 100vh;
  text-align: center;
}

/* Manejamos el menu de opciones */
.panel {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* cuando las opciones del menu superan la pantalla, adaptamos automaticamente al tamaño del contenido
     si el contenido de desborda aparece una barra de scroll vertical*/
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  /*para que el menu aparezca desde arriba* para ello: x = 0 / y = -100 */
  /*transform: translate(0, -100%); /*con '100% enviamos arriba al menu*/

  /*el menu aparece dese abajo*/
  /*transform: translate(0, 100%);*/

  /*transform: translate(100%, 0); aparece desde la derecha*/
  /*transform: translate(-100%, 0); aparece desde la izquierda*/
}

/*Clase que se agregará o qitará al panel. Cuando el elemento aside tenga la clase panel.isactive
  hacemos que el menu regrese al tranlate original (0,0)*/
.panel.is-active {
  opacity: 1;
  visibility: visible;
  /*transform: translate(0, 0);*/
}

/* Posicionamos el menu hamburguesa de manera fija a 1 viewport height inferior y 1 viewport a la derecha
* por lo que boton se ubicará en la parte inferior derecha.
*/
.panel-btn {
  position: fixed;
  /*con este alto index hacemos que cualquier contenido en la página aparezca detrás del boton*/
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  /*hacemos redondo el button*/
  border-radius: 50%;
  padding: 0;
  /*usamos flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  /*justify-content trabaja sobre la columna Y*/
  justify-content: space-evenly;
  /*Alig-items trabaja sobre la columna X   */
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  /*los convertimos elementos de bloque*/
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  /*transición que se aplica cuando se hace hover*/
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

/***** FIN MENU HAMBURGUESA *****/

/***** SECCION 2: EVENTOS DEL TECLADO *****/
.stage {
  display: flex;
  /*minima altura a la mitad del viewport*/
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* ***** ScrollTopButton ***** */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ******** DarkTheme Button ****** */
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* *** Network Status *** */
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}

/* ***** Search Filter ***** */
/*aplicamos al elemento article class="cards"*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*estilos para cada tarjeta*/
.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

/*estilos para la imagen dentro de la tarjeta*/
.card-img {
  width: 100%;
  height: auto;
}

/*estilos para el caption de cada tarjeta*/
.card figcaption {
  padding: 1rem;
}

/*cuando la busqueda con coincide con los elementos disponibles*/
.filter {
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* ***** Responsive Slider ***** */
.slider {
  position: relative;
  border: thin solid black;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

/*contenedor de las slides*/
.slider-slides {
  position: relative;
  height: 400px;
}

/* styles para cada una d las slides*/
.slider-slide {
  /*se posiciona con respecto respecto al primero elemento padre que encuentra en el dom que sea relativo
    si no encuentra ningun elemento con posicionamiento relativo, se posiciona con respecto al body*/
  position: absolute;
  top: 0;
  left: 0;
  /*altura y ancho 100% segun el tamaño del contenedor padre*/
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: opacity 1s ease;
}

/* hacemos que la imagen herede la altura de su padre */
.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

/* hacemos visible el primer slide con la clase .active */
.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/* ***** Contact Form -  Validations ***** */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* aplicamos a todos los elementos hijos directos dentro del selector .contact-form*/
.contact-form>* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

/* a todos los elementos del formulario que tengan el atributo :placeholder aplicamos el estilo*/
.contact-form ::placeholder {
  color: #000;
}

/* Validamos que los elementos del formulario (de clase .contact-form) tengan el atributo
     required, su contenido sea válido */
.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  /*pegadito al input*/
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

/*mostramos el error cuando tenga la clase .is-active*/
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* ***** ScrollSpy (media query se aplicara cuando la minima anchura sea 1024px) ***** */
/* este meda query se va aplicar cuando el ancho del dispositivo sea de 1024 hacia arriba*/
@media screen and (min-width: 1024px) {
  /* Aplicamos un diseño grid dos filas: La primera fila el header al 100%
     la segunda fila dividida en 2 columnas, la 1era 80% y la segunda columna 20%*/
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    /* le asignamos nombre a cada area */
    grid-template-areas:
      "header header"
      "main   panel";
  }

  /* asignamos al main el grid-area main*/
  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    position: sticky;
    align-self: start;
    top: 4rem;
    justify-content: flex-start;
    background-color: var(--second-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    justify-content: start;
    text-align: right;
  }

  .menu a {
    font-size: 1rem;
    padding: 0.75rem;
  }

  /*aplicamos estos estilos tambien a los enlances (a) con la clase .active que se encuentran
    dentro de un elemento con la clase .menu*/
  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }

  
}
